@import '../Styles/colors';
@import '../Styles/mixins';

.App {
  text-align: center;
}

.header {
  color: lighten($color: $color-primary, $amount: 50);
  background: darken($color: $color-primary, $amount: 10);
  @include shadow;

  h1 {
    margin: 0;
    padding: 1rem;
  }
}