@import '../../../Styles/mixins';

.input-group {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 1rem 0;

	p {
		margin: 0;
	}

	input {
		background: #eee;
		border: none;
		border-radius: 0.125rem;
		text-align: center;
		padding: 0.25rem 0.5rem;
		@include shadow(true);

		width: 10rem;

		@media screen and (max-width: 1080px) {
			margin-top: 0.5rem;
			width: 100%;
		}

	}
}